[2015-07-23 08:28] plwhite opened #3 "Wrong next hop used for tunnelled routes"
Consider the following case. There are three servers.

* A is a route reflector running BIRD
* B is a host running BIRD connected to A
* C is a host running BIRD connected to A.

If there is a route from C to D (in this example a Calico endpoint on C), then routes are advertised incorrectly.

B gets a route to D which goes via A's IP. This is a trivial bug in sysdep/linux/netlink which uses a.from

[2015-08-13 14:03] fasaxc opened #9 "BIRD ignores route updates during a poll"
Noticed during my scale testing work.  It appears that BIRD misses route updates that occur during its periodic kernel scan.

Symptom is that TTFP in the container test is either very fast or cluster around the polling interval.  Changing the scan interval changes the position of the TTFP cluster.

Ideally, we'd go the whole hog and handle adds and deletes with netlink events so that polling is ne

[2015-09-03 14:51] fasaxc commented on #9
According to the upstream developer, it can also miss updates whenever it is doing a write to the dataplane too.

[2015-12-01 14:06] plwhite opened #12 "BIRD fails to start if there are two hosts with the same IP."
If you create two hosts in etcd with the same BGP IP address, then BIRD fails to start.

That is a configuration error, but it's not an unlikely one (you might have retired a host and then reuse the IP of the old host when creating a new one, or you might just change the name of a host). Unfortunately, it knocks out the route reflector and your entire deployment stops working.

I can work around t

[2015-12-03 00:09] robbrockbank commented on #3
Fixed by #6

[2015-12-03 00:09] #3 closed

[2015-12-11 01:56] djosborne opened #16 "confd directory structure should match calico-node's"
Calico-node's confd pathing was changed with [#672](https://github.com/projectcalico/calico-docker/pull/672), from the root path `/` to `/etc/calico/confd`. Calico-bird should also be updated to match this structure for consistency

[2015-12-16 01:00] TrimBiggs commented on #12
This is now partially fixed.  BIRD will no longer completely fall over when it hits this issue.

The change that went in prevents bird's config from updating if it finds that the new config that will be used is invalid in some way.  This will print a message to the bird logs, saying it has not updated the bird config and that config is not in sync, but BIRD will not stop running.

An additional ch

[2015-12-29 18:56] TrimBiggs commented on #12
Fixed by #17 and https://github.com/projectcalico/calico-docker/issues/675

[2015-12-29 18:56] #12 closed

[2016-05-06 07:14] rfc1459 opened #18 "Route reflector Docker image does not support peering with non-Calico neighbors"
From a cursory glance at [bird.cfg.template](https://github.com/projectcalico/calico-bird/blob/6a7902321e29363eb24936ed9dfcbed4d88f7ac0/build_routereflector/node_filesystem/templates/bird.cfg.template), it seems that the dockerized route reflector is capable only of peering with the following kind of neighbors:
- other RRs in a full mesh
- other Calico nodes as a global peer
- other Calico nodes a

[2016-05-26 14:06] lwr20 opened #19 "Route reflector config has debug all turned on"
As summary - the configs in /templates/ have 'debug all' turned on, which isn't ideal for scale testing (for example).

We've been hacking round it with this in our cloud-config file, after the RR container has been started:
[code]

[2016-07-11 22:49] DreadPirateShawn opened #20 "Feature Request: wrap etcd integration in a more official manner"
Currently the docs https://github.com/projectcalico/calico-bird/blob/ea2df315f69a5d636b3e62fdcf7650963b1c77e1/build_routereflector/README.md include a step to execute a curl PUT against etcd, to add an entry for the route reflector.

It seems like this should be handled more officially -- perhaps via add/remove commands to calicoctl, eg:

[code]

(In my opinion, this seems preferable over having t

[2016-09-16 10:08] adidenko opened #22 "IPIP pool: intermittent problem with wrong routes"
During a number of deployment runs of Kubernetes with Calico and `--ipip` pool (deployed by Kargo) we've faced the issue with wrong routes on some (not all) nodes:

[code]

While it should be routed via `tunl0` interface (like on the rest of the nodes):

[code]

The workaround is to remove those routes via `eth0` on the problem nodes and let BIRD bring up the correct ones.

[2016-09-16 10:12] bogdando commented on #22
The solution could be perhaps to replace "ip ro add" commands to "ip ro replace" in the code :)

[2016-09-16 10:15] fasaxc commented on #22
I think you might be seeing the same issue as https://github.com/projectcalico/calico-bird/pull/21; might be worth trying the patch in that PR to see if it helps.

[2016-09-16 10:25] bogdando commented on #22
Thank you for update. Note that this issue reproduces w/o a reboot

[2016-09-16 10:26] adidenko commented on #22
Yeah, it looks like #21 may help. We'll try it, thanks!

[2016-09-20 17:37] matthewdupre commented on #22
@adidenko any update on whether that change has helped?  I'd really like to get these IPIP route tunl0 problems resolved.

[2016-09-21 16:39] adidenko commented on #22
@matthewdupre I've run several test deployments of kubernetes+calico with and without `--ipip` and I was not able to reproduce this issue.

[2016-09-22 09:57] dongmx opened #24 "Global peer only use one node as gateway"
I config many nodes in my switch which is a global peer.

[code]

And every node has several containers. But when I `tracetoute $CONTAINER_IP`, the switch always use the first neighbor `10.10.25.8` as gateway. No matter container running on which node. It means all network traffic forwarded by 10.10.25.8.

[code]

Is this normal? How can I make gateway to be certen physical machine which the conta

[2016-09-22 21:17] matthewdupre commented on #24
No, it's not normal; traffic should go directly to the host.

Can you confirm whether you've got the Calico node-to-node mesh running, and the status of the BGP sessions to the switch from the other nodes (not 10.10.25.8)?

[2016-09-22 21:18] #19 closed

[2016-09-23 02:42] dongmx commented on #24
[code]
Every node to the switch state is up.

[2016-10-13 12:50] dongmx commented on #24
I thought there is something wrong with my switch route selection. I user dell force10 s55. Do you know how to config route selection mode about it ? How should I debug ?

[2016-10-14 03:42] dongmx commented on #24
[code]

It seems that as-path is all the same, so the switch cannot route directly to the host.

[2017-01-05 21:20] djosborne commented on #16
Closing as I don't think this is important enough to change.

[2017-01-05 21:20] #16 closed

[2017-02-08 15:11] fasaxc opened #28 "BIRD rejecting configuration generated by confd"
I span up a system with calico-k8s-cluster to do some scale testing.

- Found that BGP peering wasn't working.
- Tracked it down to the route reflector rejecting connections
- This was due to the BIRD config not being updated
- Looks like the trial of the config is failing; from the confd logs:
[code]

[2017-02-08 15:13] fasaxc commented on #28
Disabling the config check command, I get this in the bird log:
[code]

[2017-02-08 15:14] fasaxc commented on #28
The generated config is as follows:
[code]

[2017-02-08 15:51] fasaxc commented on #28
Ah, this looks like a bug in the setup script.  The RR's AS number doesn't match that of the other nodes.

[2017-02-16 17:38] #28 closed

[2017-03-01 15:53] tmjd commented on #24
@dongmx Are you still having problems with this?
As a first pass I would start with suggesting you upgrade the version of calico you are using, as your calicoctl is quite old.

[2017-03-01 16:15] dongmx commented on #24
This problem is caused by my wrong BGP config. I should config switch and machines in a rack as a group. I will close this issue :)

[2017-03-01 16:16] #24 closed

[2017-03-20 14:43] rikatz commented on #18
@rfc1459 Have you tried to add it manually to bird.cfg?

I'm facing a similar problem here, and added manually it. But I've realized that when adding some new Nodes to Calico Cluster, the bird.cfg file from my route reflector does not get updated.

Maybe after correcting this 'bug' we could create a bgpPeer as the following, and get the RR updated:

[code]

And least, if this does not work you can

[2017-03-20 14:43] rikatz commented on #18
By the way, I'm facing this same problem trying to configure a FreeBSD + Carp as my entrance router.

[2017-03-20 15:22] rikatz commented on #18
OK, I could figure out that when you create a 'bgpPeer' resource, it creates an entry in ETCD as /calico/bgp/v1/host/router/peer_v4 that breaks the template used to RouteReflector.

Then I've figured out that to enable what we want, just need to create a 'Node' Resource, as the following:

[code]

After that, it was possible to pair my OpenBGP router with calico:

[code]

[code]

[2017-03-22 01:36] ozdanborne opened #31 ""unreachable" nexthop"
Using master builds, k8s 1.6 on GCE

Pods don't get connectivity (to the k8s apiserver at least).

Routing table shows an `unreachable` next hop
[code]

Though `calicoctl node status` shows BGP is established.

Bird logs repeatedly show this message: `bird: KRT: Received route 0.0.0.0/0 with strange next-hop 10.240.0.1`

[node-logs.txt](https://github.com/projectcalico/bird/files/860123/node-logs.

[2017-03-22 13:55] nelljerram commented on #31
Looking into this... I don't see anything obviously missing from the newly merged code, so my feeling is that this is going to take some time to understand and fix.  Therefore, if we need a quick fix for operation with k8s 1.6 on GCE, we should bear in mind the option of just reverting back to before the 1.6.3 merge.

[2017-03-22 13:59] nelljerram commented on #31
On that point, do we know for sure if our BIRD v0.2.1 worked in the same scenario?

(I'm guessing we may have only just started testing k8s 1.6, so just possibly this might be a k8s 1.5->1.6 issue, instead of being a BIRD code-merge issue.)

[2017-03-22 21:56] ozdanborne commented on #31
Dang. I encountered this issue on a system where I was repeatedly reinstalling kubernetes clusters. It was likely a result of stale etcd data, as etcd volume mounts and (if I am not careful) persists into the next kubernetes cluster. We should confirm that on a fresh cluster, master builds are working OK

[2017-03-23 17:39] nelljerram commented on #31
We definitely do have a problem with the new code on GCE.

With a k8s deployment with one (non-system) pod created, routes on master with old BIRD code
are:

neil@neil-kubetest2-master:~$ ip r
default via 10.240.0.1 dev ens5
10.240.0.1 dev ens5  scope link
172.17.0.0/16 dev docker0  proto kernel  scope link  src 172.17.0.1 linkdown
blackhole 192.168.41.0/26  proto bird
192.168.71.0/26 via 10.240.0

[2017-03-23 17:43] nelljerram commented on #31
Oh, one more observation to report:

I can fix the 'unreachable' routes on the rig with the merged BIRD code just by reprogramming the node's default route like this:

    neil@neil-kubetest-master:~$ sudo ip r del default via 10.240.0.1 dev ens5; sudo ip r add default via 10.240.0.1 dev ens5 onlink

This confirms the association with the code changes mentioned above.

[2017-03-24 00:22] jdfless opened #32 "Documentation for build_routereflector is out of date for calicoctl 1.x"
The commands on https://github.com/projectcalico/bird/blob/v0.2.0/build_routereflector/README.md are incompatible with calicoctl 1.x, even though bird v0.2.0 is the official version in calico 2.x release from http://docs.projectcalico.org/v2.0/releases/.

[2017-03-27 15:43] tmjd commented on #32
@jdfless Thank you for bringing this up.  I'm not sure when we will be able to update the doc.  We do welcome PRs if you are inclined to try updating it.

If you haven't seen them already, the follow docs should be able to help you to setup Router Reflectors and Calico to use them.
http://docs.projectcalico.org/v2.0/usage/configuration/bgp
http://docs.projectcalico.org/v2.0/usage/bird-rr-config

[2017-03-29 18:07] robbrockbank commented on #32
I've removed the docs from this repo and moved (and updated) into the main projectcalico docs:

http://docs.projectcalico.org/master/usage/routereflector/calico-routereflector

Note that the routereflector container image is really only used within our ST framework so it has some major limitations.  However, it might prove a useful starting point if people are interested in building it out to make

[2017-03-29 18:07] #32 closed, assigned to tmjd

[2017-03-29 18:08] robbrockbank commented on #22
Looks like this has now been resolved - closing out the issue.

[2017-03-29 18:08] #22 closed

[2017-03-29 18:11] robbrockbank commented on #20
@DreadPirateShawn :  The RR container image is somewhat experimental in the sense that it has some limitations that will make it difficult to use in a real deployment - however, it is now more formally documented in our docs:

http://docs.projectcalico.org/master/usage/routereflector/calico-routereflector

Moving forward, I'd like to productize this more - and adding `calicoctl` support is on my r

[2017-03-29 18:19] robbrockbank commented on #18
Hi @rikatz - glad you managed to find a way to work around things.

The RR image is somewhat experimental in that we primarily use it for our ST framework so we didn't build it out with real deployments in mind.  That said, we'd happily take PRs to improve it, and longer term it is on my radar to improve our general BGP configuration.

Just as an FYI, I've moved the doc to our main docs now and fi

[2017-04-06 16:41] rikatz commented on #18
@robbrockbank Thanks. I'll take a look at that when I come back from my vacations, and will make a PR to improve that error handling in the CONFD from RR

[2017-04-07 21:49] ozdanborne opened #34 "Clear up Versioning"
Bird versioning is difficult to follow. This repo just went through a 0.3.0 release. But printing the versioning used in calico/node master builds shows bird is 1.6.3:

[code]

1.6.3 is the version of the latest upstream bird.

The confusion here has made it hard to figure out which bird code is in a particular `calico/node`.

We should simplify this somehow. I'll suggest a few options:

1. calico

[2017-04-11 14:13] nelljerram commented on #31
This issue was fixed initially by reverting the merge of #30, and then later by #33.

[2017-04-11 14:13] #31 closed, assigned to nelljerram

[2017-05-10 17:24] lchabert opened #36 "Templating error with kubernetes/Kargo - $cnode_ip_key>: error calling getv: key does not exist"
Hello calico team,

I have deployed  a calico test infrastructure with kargo and with route-reflector feature. Unfortunately, conf'd does not generate a config file, due to conf'd errors.
As we can see in logs, $cnode_ip_key key does not existe in etcd.

Please find my complet log output below:
[code]

And all my keys in etcd:
[code]

Thanks in advance,
Regards.

[2017-05-10 18:24] tmjd commented on #36
Are those logs from a calico/node, a route reflector container, or a directly installed confd?
Also what is the version of that container or package?

@robbrockbank Any thoughts on this? I haven't done really anything with confd templates and how they work.

[2017-05-10 19:49] caseydavenport commented on #36
[code]

Looks like it's failing to find a key in `bird.cfg.template` at line 66.

@lchabert could you share the calico/node version you're using so I can check the exact template to see which bit of information is missing?

[2017-05-10 20:41] lchabert commented on #36
@tmjd this logs are generated by a route-reflector container, conf'd log file.

calico-node version running is:
[code]

and calico-rr container version is: quay.io/calico/routereflector:v0.3.0

[2017-05-10 22:29] robbrockbank commented on #36
@lchabert

It looks as though you have configured some node-specific BGP peers for nodes "node1" and "node3"  and our RR code doesn't handle the peers being specified when there is no actual corresponding calico node configured for those nodes.

So you may want to delete those entries from etcd.  I think you'll need to delete them by removing the nodes `calicoctl delete node node1` sim. for node3.

[2017-05-11 07:27] lchabert commented on #36
No, there is no node1 and node3, so i have deleted theses entries from etcd.
No file is generated by confd, but when i look on bird config file, bgp peerings parts are blank.

[code]

[2017-05-11 08:15] lchabert commented on #36
Forget my last message, i have set a global bgp peer using rr IP, and now bgp peerings are OK.

Next, i try to add a border BGP to my route-reflector, but same error:
```template: bird.cfg.template:44:71: executing "bird.cfg.template" at <getv $cnode_ip_key>: error calling getv: key does not exist```

My route-reflector ip is 172.16.9.133/24, and my external router is: 172.16.9.254/24.
I have set

[2017-05-17 05:02] tmjd commented on #36
@lchabert I believe you are trying to do something that is currently not supported with the calico/routereflector image.  Please check the current limitation here,
http://docs.projectcalico.org/v2.2/usage/routereflector/calico-routereflector#known-limitations

I think that matches with what @robbrockbank said above in his comment [here](https://github.com/projectcalico/bird/issues/36#issuecomment-

[2017-05-17 05:02] #36 closed, assigned to robbrockbank

[2017-07-27 21:34] frnkdny opened #44 "route reflector container with ETCD backend: BGP status hung in start state"
tigera/calico-k8s-cluster has a `install-rr` script that starts the route reflector container:
https://github.com/tigera/calico-k8s-cluster/blob/master/gce/templates/rr-template.yaml#L68

The latest commit pushed to docker/quay causes the `install-rr` script hang in start state `Active Socket: Connection refused`

commit where behavior changed:
Add KDD as a supported backend https://github.com/pro

[2017-07-28 00:04] robbrockbank commented on #44
So temporary soln could also be to use the previous version of the RR in the manifests.

Probably the nicest way to solve this is to remove the step of needing to specify the cluster ID.  We should just auto-add the entry into etcd and accept an optional CLUSTER_ID environment.  Easiest way to do that might just be to add etcdctl or curl into the container and use that to add the entry.

[2017-08-16 19:42] aguerra opened #46 "BIRD crashes a few seconds after startup"
## Expected Behavior

It should keep running.
## Current Behavior

It crashes.
## Possible Solution

## Steps to Reproduce (for bugs)

1. Turn off all nodes and masters of a k8s 1.5.7 cluster (created with kops 1.5.3)
2. Turn on all nodes and masters.
3. After the cluster is up again some nodes have a unstable network as BIRD keeps crashing.
4. After a while some nodes settle down, others don't.

[2017-08-16 21:16] aguerra commented on #46
I guess I have a clue...bird.cfg has a lot of old ip's that aren't used anymore and I think it's opening more than 1024 file descriptors (select limit).

[2017-08-17 01:24] robbrockbank commented on #46
@aguerra:  excellent sleuthing!  It sounds as though there is a bunch of node configuration that needs tidying up.  I suspect that if you're constantly spinning up and down new nodes, but are not explicitly deleting the node configuration for the torn down node - you'll end up leaking node resources.  These are used to create the full BGP mesh - and so, as you suggest Bird will try and peer with e

[2017-08-17 13:20] aguerra commented on #46
@robbrockbank Thanks, you've been very helpful, I see all stale nodes.

[2017-08-17 15:26] fasaxc commented on #46
@robbrockbank Should we up the fd limit as a temporary stop-gap?

[2017-08-17 16:22] robbrockbank commented on #46
@fasaxc - upping the limit would certainly be a good stop-gap.

[2017-09-25 18:18] bradbeam opened #47 "Investigate incorporating kumina/birdwatcher for exposing bird metrics via prometheus"
I came across https://github.com/kumina/birdwatcher the other day while doing some research on calico and prometheus. Curious if it'd be worth the Calico team reaching out to Kumina to see if this can be incorporated with calico/bird out of the box.

[2017-09-25 19:14] caseydavenport commented on #47
Looks like a neat project.

My inclination would be not to package it within say calico/node, but instead just to make sure we've got consistent integration points such that it can easily be installed via a DaemonSet on any Calico cluster.

[2017-10-25 14:24] fasaxc commented on #46
There's a work in progress on a "node (cleanup) controller" here: https://github.com/projectcalico/kube-controllers/pull/176

[2017-11-15 23:21] bradbeam opened #51 "Clarify licensing for this repo"
Not sure there's much to add with this, but doing a search for license two different types pop up -- https://github.com/projectcalico/bird/search?utf8=%E2%9C%93&q=license&type=

Are the routereflector bits licensed differently than bird?

[2018-02-08 19:43] ozdanborne commented on #46
Closing as the node controller has been merged which cleans up stale nodes.

[2018-02-08 19:43] #46 closed, assigned to ozdanborne

[2018-05-03 11:38] darkweaver87 opened #56 "Merge with upstream projects ?"
Hello,

It's an open question :-)
I think it would be better to merge with upstream projects (by doing PR) because on long term view you won't benefit from the commits of people maintaining those projects and you'll eventually face merging conflicts.
You already forked bird, confd and etcd and I don't think creating other projects is necessary for the minor modifications/ additional features you m

[2018-05-03 18:04] caseydavenport commented on #56
@darkweaver87 as far as etcd goes, we've submitted a PR and we're waiting to see if it will be approved. We plan on going back to the upstream version ASAP :)

For confd, we've made substantial changes and I don't think it makes sense to try to merge them back upstream.

@neiljerram are you the right person to comment on the feasibility of merging bird with upstream?

[2018-05-04 07:24] nelljerram commented on #56
@caseydavenport @darkweaver87 Yes, it is absolutely feasible for us to merge back with upstream bird, and I would love us to do that.  I raised that [on the BIRD mailing list](http://bird.network.cz/pipermail/bird-users/2016-September/010629.html) a while ago and got an encouraging response.  It's just that there's a little work needed that we haven't yet got round to.

[2018-05-17 07:43] zyy17 opened #57 "How to control route table prune process ?"
My Scenario:

- Kubernetes (Dokcer)
- calico  route reflector + calico node

If I just have only one calico-rr, when rr lost connection with node (maybe rr is down or the process is close the connection), the node will prune the route table and will affect network function on the Pod of the node. In my opinion, I don't want the node to prune route table in k8s scenario.

I have read the key proces

[2018-05-17 18:18] tmjd commented on #57
How long was the connection disconnected? The routes should persist for plenty of time to re-establish connections.
Bird does use graceful restarts which should keep the routes until the connection is re-established.

In a production environment should setup multiple route reflectors to protect against the case of one going down.

[2018-05-21 03:07] zyy17 commented on #57
If I suddenly disconnect rr and node, the node will delete route table immediately, I have already configure graceful restart but it seems not wok.

Here is my calico-rr and calico-node's configuration:

[code]
calico-node's configuration:

[code]

[2018-05-25 01:10] jose-bigio opened #59 "Mac OS is case insensitive faces problems with Doc and doc file and directory"
On OSX there is a problem with there being two files (one is a directory called 'doc') called `Doc` since files (and or directories) on OSX are case insensitive.

## Possible Solution

Rename either the directory or the Doc file to something else.

## Steps to Reproduce (for bugs)

git cloning on a mac doesn't work

## Your Environment

* bird version:
* Operating System and version:
* Link to you

[2018-05-25 13:28] tmjd commented on #57
When you say disconnect the rr and node, how are you achieving that? If you are restarting both the node and the rr, then I would not expect a graceful restart to happen.  If you are terminating/restarting only the rr then I think a graceful restart is expected.

[2018-05-25 18:07] #59 closed, assigned to nobody

[2018-05-25 21:50] jose-bigio commented on #59
Thank you!

[2018-05-31 01:37] caseydavenport commented on #20
Closing this since v3 doesn't use etcdctl.

[2018-05-31 01:37] #20 closed

[2018-07-04 08:56] chrXiTer opened #61 "In k8s, calico-node3.1.3. Route to other node add by calico bird was deleted."
3 node.
linux kernel route to other node export by calico bird was deleted after 1 seconds every times.
Deleted route item is 192.168.78.0/26; 192.168.213.64/26; 192.168.183.128/26.

[2018-07-05 18:17] tmjd commented on #61
Please provide more context and information (logs).  As it is there is not enough information to reproduce or understand this issue.

Please fill out the issue template when creating issues.

[2018-07-12 11:45] chrXiTer commented on #61
Sorry, Not found this reply before now.
No found effective log.  So I don't know how to do next. Next week, I will paste some relevant logs.

[2018-07-12 18:40] #44 closed, assigned to robbrockbank

[2018-07-16 18:08] KlavsKlavsen commented on #61
Perhaps this is related (or the same as) to my issue https://github.com/projectcalico/calicoctl/issues/1883 ?

[2018-07-17 12:28] chrXiTer commented on #61
@KlavsKlavsen
In my case.  Connection among nodes is ok,  route info in bird is ok, and route info added to linux kernel correctly.
But route to container of other nodes will deleted 1 second later.
Because of bird will sync route info to linux kernel ervery 2 seconds, These route info will added again and deleted again, and added again, and deleted again .........

[2018-08-10 04:49] chrXiTer commented on #61
some log

`tail -f /var/log/calico/bird/current
2018-06-28_03:30:07.19681 bird: kernel1: 10.10.213.74/32: [alien] seen
2018-06-28_03:30:07.19682 bird: kernel1: 10.10.213.75/32: [alien] seen
2018-06-28_03:30:07.19683 bird: kernel1: 10.10.213.76/32: [alien] seen
2018-06-28_03:30:07.19684 bird: kernel1: 169.254.0.0/16: [alien] seen
2018-06-28_03:30:07.19685 bird: ...
2018-06-28_03:30:07.19686 bird: k

[2018-08-13 14:56] tmjd commented on #61
Do you possibly have NetworkManager or something else that could be deleting the routes?
Are any of your calico-node pods restarting repeatedly? (If they are then it might be an issue of Bird unable to do graceful restarts if enough of the peers are restarting.)

It would also be good to know how you have deployed Calico, what you are running (Kubernetes or Mesos), where your hosts are deployed.

[2018-08-22 14:21] chrXiTer commented on #61
I run calico3.1.3 and kubernetes1.10.4  in arm64 server.  Now, I upgrade calico to 3.2 and not chang others. It's running well now.
thanks.

[2018-08-22 17:25] #61 closed, assigned to nobody

[2018-11-03 22:07] caseydavenport commented on #47
I don't think there's anything for us to do on our side for this.

[2018-11-03 22:07] #47 closed, assigned to nobody

[2018-11-03 22:40] caseydavenport commented on #18
This has been fixed in Calico v3.3 by adding RR capabilities to the calico/node container.

calico/routereflector is being deprecated, so I'm going to close this.

[2018-11-03 22:40] #18 closed

[2018-11-06 11:17] fasaxc commented on #51
@bradbeam Yes, that's correct.  The route reflector bits are under Tigera's standard open source license (Apache 2) but BIRD itself is GPL v2.  We've now moved the RR bits out into their [own repo](https://github.com/projectcalico/routereflector) to avoid confusion (and as of v3.3, RR is now a feature of calico/node itself rather than needing a separate image).

Hopefully that clears it up.  Feel

[2018-11-06 11:17] #51 closed, assigned to nobody

[2018-11-30 02:06] #57 closed, assigned to nobody

[2019-03-15 13:07] liyanyanli opened #69 "Multipath for BGP"
Hi, I want to consult a configuration question . How to configure multipath for BGP?

## Environment
* calico-node version: v3.5.1
* bird version:  BIRD version v0.3.3+birdv1.6.3
* Operating System and version: CentOS Linux release 7.4.1708 (Core)

[2019-03-18 03:57] liyanyanli commented on #69
already solved

[2019-03-18 03:57] #69 closed, assigned to nobody

[2019-09-17 11:07] npu21 opened #71 "bug in build.sh"
for **get the correct TARGETARCH**,if the arch is x86_64 like this

x86_64
TARGETARCH will be x86_64, which should be amd64
## Expected Behavior
TARGETARCH x86_64
## Current Behavior
TARGETARCH amd64

[2019-10-07 20:29] rafaelvanoni commented on #34
Closing due to inactivity, if this is still an issue please add an update and we'll re-open it.

[2019-10-07 20:29] #34 closed, assigned to nobody

[2019-10-07 20:30] rafaelvanoni commented on #9
@neiljerram Similar to http://github.com/projectcalico/felix/issues/625, could you add an update or close one of them as dup?

[2019-10-08 09:30] nelljerram commented on #34
Thanks @rafaelvanoni .  For the record, we now show both our own version and the upstream, e.g.:
[code]
I think that covers the issue here.

[2019-10-08 09:32] nelljerram commented on #71
@npu21 What is the higher-level problem here?  The value of `TARGETARCH` is not necessarily a problem, unless it has some further bad effect.

[2019-10-08 09:36] nelljerram commented on #9
@rafaelvanoni I don't think we should think of these as dupes, because they affect different components.  Also, has it been demonstrated that the underlying causes are the same?  (I don't think so.)

[2019-10-08 10:41] fasaxc commented on #9
Maybe we should just close this?  AFAIK, it's still the case but we reduced its impact by implementing IPAM aggregation (so route changes are super rare in a calico-ipam based cluster).

[2019-10-08 11:13] nelljerram commented on #9
For the record,

- Is this about 'updates' meaning routes that have been added to the local kernel (e.g. by Felix) or 'updates' meaning information received from other BGP speakers?

- If it's the former, is the miss recovered, and if so when?  Perhaps at the end of the current scan period, or at the end of the next scan period?

[2019-10-08 12:16] fasaxc commented on #9
It's updates added to the kernel.  IIRC, BIRD turns off is event watch so it can re-use the same netlink socket for scanning/making changes.

[2019-10-08 13:37] nelljerram commented on #9
OK, thanks.  So presumably then any missed route changes are picked up on the next poll, which means after another 2 seconds (https://github.com/projectcalico/confd/blob/master/etc/calico/confd/templates/bird.cfg.template#L41).

I think we're OK to close this, then.

[2019-10-08 13:37] #9 closed

[2019-11-08 00:41] #71 closed, assigned to rafaelvanoni

[2020-02-13 14:12] jinnzy opened #77 "bird cpu single core usage is always 100%"
Hello, our production environment encountered this problem, if there is any way to solve it would be greatly appreciated.

bird cpu single core usage is always 100%
Use perf top to find that if_find_by_name function is higher using cpu
![image](https://user-images.githubusercontent.com/33449123/74443007-6f30cf80-4ead-11ea-9a82-29927ca99f2c.png)

## Expected Behavior
cpu usage reduced to within nor

[2020-02-14 07:50] jinnzy commented on #77
Here is the relevant information found

https://trzepak.pl/viewtopic.php?t=63030
https://www.mail-archive.com/bird-users@network.cz/msg04492.html

[2020-02-14 09:27] fasaxc commented on #77
Is your routing table particularly large?  What do you get for `ip route` and `ip addr`?

[2020-02-15 04:00] jinnzy commented on #77
[code]
Is this too large routing table?
I modified this parameter and the cpu usage has now returned to normal
[code]
Thank you for your reply.

[2020-02-17 09:20] fasaxc commented on #77
Are you running kube-proxy in IPVS mode; I believe it assigns every service VIP locally.

[2020-02-21 02:35] fancc opened #78 "fatal error: timer.h: No such file or directory"
I want to cross compile the arm64 version under amd64 environment, but when I use `ARCH = arm64 ./build.sh` to execute the compilation, it will report this error：
 “fatal error: timer.h: No such file or directory”

Has anyone encountered this situation?

My server environment is Ubuntu 18.04.2.

[code]

I found the timer.h file in the /sysdep/unix/ path, but why is this error reported?

[2020-02-24 10:25] aligthart commented on #77
We have a similar issue (we observe this: https://github.com/projectcalico/calico/issues/2992.)
3 masters on kubespray cluster. (kubespray 2.11.0 on ubuntu 16.04)
Cluster is running fine for a number of weeks. Then starts failing.
Note that this is our CI cluster so a lot of 'helm install' and 'helm delete' commands.

[code]

That looks like a very big number to me.
anything to check further?

Cur

[2020-02-24 10:28] fasaxc commented on #77
@aligthart are you in kube-proxy IPVS mode?  It adds every service IP to a local dummy device (due to a requirement of the IPVS stack).

[2020-02-24 10:40] aligthart commented on #77
@fasaxc yes we are. Below the config map for kube-proxy

[code]

should we switch to ip-tables?
Anything else wrong in our proxy setup?

[2020-02-24 17:04] fasaxc commented on #77
Switching to iptables mode should help with BIRD CPU, but presumably you're using IPVS mode for a reason (high numbers of services?)

[2020-02-24 21:18] rafaelvanoni commented on #78
@fancc I'd suggest pinging the folks who added the arm64 support in the calico-users slack. I don't really know who they are but you could find them by looking at the `git` history on that repository.

[2020-02-24 21:57] tmjd commented on #78
@deitch I believe you did some of the arm64 work originally, do you have any suggestions here?

[2020-02-25 08:36] aligthart commented on #77
@fasaxc Thanks for the quick replies.Our cluster is relatively small so we do not benefit from the performance gains of ipvs yet. We will try with iptables and monitor the situation again.
Note that after a reboot of our masters the 'ip addr' linecount was about 100.

[2020-02-25 18:41] deitch commented on #78
If nothing has changed, then I suspect that the dockerfile build is not consistent. We did it basically:

[code]

the image `gcc:latest` (and the packages included) easily could have changed over the time since. We should have locked it down to a single tag, at the very least. If we could pull logs off of the last successful build, we might be able to get a good image tag from there.

[2020-02-25 18:47] deitch commented on #78
I just did a clean build on Ubuntu 16.04, no problem. This _should_ not matter, since the entire build is in docker. But it is possible. Try both and see?

[2020-02-26 14:40] fancc commented on #78
@rafaelvanoni @tmjd @deitch Sorry, this is not a bug but my fault. I modified some files, but some of them were wrong. We have several non-amd64 architecture servers, including arm64 and mips64el. I need to be able to cross compile executable files of arm64 and mips64el architecture, but I noticed that you do not support mips64el architecture, so I made some changes to enable it support cross comp

[2020-02-26 14:47] deitch commented on #78
No problem. I’m glad I didn’t have the chance to spend more time on it. 😃

[2020-02-27 01:52] fancc commented on #78
@rafaelvanoni @tmjd @deitch I submitted a pr to support cross compilation of mips64el architecture. I think there should be some developers like me who need to cross compile mips64el architectures . Can you review it？

[2020-03-18 23:23] spikecurtis commented on #77
@jinnzy are you using IPVS?  We fixed an issue related to it in https://github.com/projectcalico/confd/pull/314

If so I think this issue can be closed

[2020-03-23 08:01] jinnzy commented on #77
Yes thank you very much.

[2020-03-23 08:01] #77 closed, assigned to caseydavenport

[2020-04-06 20:22] rafaelvanoni commented on #78
PR -> https://github.com/projectcalico/bird/pull/79

[2020-04-23 22:13] #78 closed, assigned to rafaelvanoni

[2020-05-13 17:59] #56 closed, assigned to nobody

[2020-07-14 06:47] lyyao09 opened #84 "Does bird support config ospf?"
## Expected Behavior

Hope bird support config ospf.
## Current Behavior

Bird can't configure ospf, or is I missed something?
When I add the ospf configuration in bird.cfg, I get a syntax error.

bird.cfg:
[code]
After restart bird:
[code]

When I use native bird(version 1.6.8) test, adding ospf successful.

## Possible Solution

## Steps to Reproduce (for bugs)

In order to facilitate testing, I

[2020-08-07 21:11] caseydavenport commented on #84
BIRD itself does support OSPF, but Calico does not provide any way to configure OSPF, as it's not part of the Calico architecture.

[2020-08-07 21:11] #84 closed, assigned to nobody

[2021-03-25 10:00] nelljerram opened #90 "IP-in-IP does not compose with ECMP routes"
In a dual ToR setup (attempt), with ECMP routes to some node loopback IPs and pod /26 blocks, we tried enabling IP-in-IP (to address a separate bootstrapping issue), and observed that most of the routes did not change to IP-in-IP routes:
[code]

In fact, only the non-ECMP routes change to go via the IP-in-IP tunnel device tunl0.

On reviewing the BIRD code, it's clear this is because of lack of su

[2021-03-25 10:01] nelljerram commented on #90
I’ve spent some time looking at the work that would be needed, and it's quite hard.  I think it would be better for us to spend equivalent time and effort on rethinking and eliminating the BIRD code hacks that we’ve made for IP-in-IP, replacing them with

- a new design for how we program IP-in-IP tunnel routes
- upstreaming any minimal missing BIRD code pieces that we need for that.

I will recor

[2021-03-25 10:04] nelljerram commented on #90
I began a discussion on the BIRD ML in 2016, about upstreaming our BIRD patches for IP-in-IP: https://bird.network.cz/pipermail/bird-users/2016-September/010629.html

The maintainer (Ondrej)’s response to that was that we should only need to change BIRD to allow setting “onlink” and “iface” from a filter, and then we could achieve everything else we need in config.  I now think that is probably tr

[2021-03-25 10:09] nelljerram commented on #90
Here is a review of our current BIRD code changes, and the filter config that we use in conjunction with those:

[code]

(Another view of the same thing is at https://github.com/projectcalico/bird/pull/37#issuecomment-301123323, but I believe the ASCII art above is a better representation of the BIRD internal architecture, and it also shows where the relevant import and export filters are involved

[2021-03-25 10:10] nelljerram commented on #90
(In addition to the points above where code is actually doing things, there are these infrastructure changes, between upstream and our fork, to facilitate the above:

[code]
)

[2021-03-25 10:11] nelljerram commented on #90
Other useful input is from the PR at https://github.com/projectcalico/bird/pull/21.  The contributor was proposing to update the iface for a tunnel route in the BIRD routing table, instead of only when exporting it to the local kernel.  At the time I favoured a less dramatic change, but I now think the contributor’s approach may have been along better lines.

[2021-03-25 10:14] nelljerram commented on #90
Putting all of that together, it now seems to me that - maybe -

- we don’t need the orig_gw field, because the same information is available as the BA_NEXT_HOP attribute, and as “next_hop” in filters

- the only code change we need is to allow the BGP import filter to set “onlink”

- then, for tunnel routes, we simply define a BGP import filter that does

[code]

Ideally, then, we’d upstream the

[2021-03-25 10:16] nelljerram commented on #90
The first step of the above plan - removing the orig_gw field and using BA_NEXT_HOP instead - has been done by https://github.com/projectcalico/bird/pull/75 and https://github.com/projectcalico/node/pull/380.

Tigera themselves have no current schedule for pursuing other pieces of the plan above, so contributions would be very welcome.

[2021-06-11 05:00] RichardPhilRoy opened #94 "Docker image not found"
Hi, I'm trying to install docker image of bird on ubuntu 18, but I'm getting this error
[code]

[code]

[2021-06-29 16:41] caseydavenport commented on #94
@RichardPhilRoy this repo is used internally within Calico, and isn't meant to be installed standalone.

[2021-06-29 16:41] #94 closed, assigned to nobody

[2021-06-29 23:14] mithilarun opened #95 "Bird CPU usage is almost always 100%"
This is likely #77 all over again, but we're seeing the bird process run on 100% CPU almost always.

## Expected Behavior

Bird should not consume the entire CPU to run.

## Current Behavior

![Bird CPU Usage](https://user-images.githubusercontent.com/1955648/123877309-cfcd7a80-d8f1-11eb-95e2-4e03d7606bef.png)

## Possible Solution

We were able to lower to the CPU usage by editing /etc/calico/con

[2021-06-29 23:16] mithilarun commented on #95
Verified that we have the fix mentioned in https://github.com/projectcalico/confd/pull/314. That is not helping.

[code]

[2021-10-28 11:21] shivendra-ntnx commented on #95
Do we any workaround here?

[2021-11-09 16:38] mnaser commented on #95
Something that helped us a bit is the patch above, but we're still seeing this heavily.  When running `tcpdump`, I see a whole load of `AF_NETLINK` traffic.

[2022-03-14 10:22] HungYann commented on #36
U can use etcdctl to check the etcd version, is it version 3?
![](https://tva1.sinaimg.cn/large/e6c9d24ely1h09kstncq4j20je038glp.jpg)

if not, use this command to run the put function, like this below:

[code]

[2022-05-11 02:00] dbfancier commented on #95
we ran into the same problem in our production environment.

CPU usage of bird is usually around 30%, but occasionally spikes to 100% and stays there for a while.

We did a CPU hot spot analysis using perf and found that the CPU time was concentrated in the function if_find_by_name(about 86%) and if_find_by_index(about 11%).

so I send SIGUSR1 to bird for a dump. It shows that iface_list has 30000

[2022-05-11 02:53] dbfancier opened #102 "CPU usage of bird spikes to 100% and stays there for a while"
CPU usage of bird spikes to 100% and stays there for a while

## Expected Behavior

Normally, we expect the Bird's CPU usage to be between 1% and 3%,  otherwise it would take up training resources

## Current Behavior

CPU usage of bird is usually around 30%, but occasionally spikes to 100% and stays there for a while.

We did a CPU hot spot analysis using perf and found that the CPU time was conc

[2022-06-14 04:48] splitice commented on #102
Probably fixes #95

[2022-06-14 23:57] caseydavenport commented on #102
This PR seems relevant, which aims to remove interfaces from BIRD when they go away: https://github.com/projectcalico/bird/pull/103

[2022-09-20 17:33] mgleung commented on #95
@mithilarun @shivendra-ntnx @mnaser any other details about your cluster setup you can share? I'm trying to see if this can be fixed by addressing https://github.com/projectcalico/bird/issues/102 or if we are looking at a separate issue.

[2022-09-23 17:43] mithilarun commented on #95
@mgleung We had to tear the cluster down, but it looked quite similar to what @dbfancier reported here: https://github.com/projectcalico/bird/issues/95#issuecomment-1123096172

[2022-10-04 15:14] caseydavenport commented on #95
This PR was merged to master recently: https://github.com/projectcalico/bird/pull/104

It looks like it has potential to fix this issue. We'll soak it and release it in v3.25 and hopefully we can close this then.

[2022-10-04 15:14] caseydavenport commented on #102
This PR was merged to master recently: https://github.com/projectcalico/bird/pull/104

It looks like it has potential to fix this issue. We'll soak it and release it in v3.25 and hopefully we can close this then.

[2022-10-04 15:15] caseydavenport commented on #102
Actually going to close this now as a duplicate of https://github.com/projectcalico/bird/issues/95

[2022-10-04 15:15] #102 closed, assigned to nobody

[2022-11-14 07:42] ialidzhikov commented on #95
@caseydavenport , is there a chance to backport the fix to 3.24 and 3.23? When we can expect 3.25 to be released?

[2022-11-14 11:52] caseydavenport commented on #95
Here are cherry-picks for v3.23 and v3.24:

- https://github.com/projectcalico/calico/pull/6991
- https://github.com/projectcalico/calico/pull/6992

v3.25 should be available by the end of the year.

[2022-11-15 00:58] dilyevsky commented on #95
We were observing high Bird CPU usage/liveness probes failing on clusters with large number of services running with IPVS kube-proxy mode. What happens is `kube-ipvs0` interface accumulates large number of addresses and it's getting picked up by `kif_scan` code (`device` protocol) -> `ifa_update`:

<img width="835" alt="Screen Shot 2022-11-14 at 4 46 26 PM" src="https://user-images.githubuserconte

[2022-11-16 11:47] caseydavenport commented on #95
@dilyevsky what version are you running? I thought in modern versions we exclude that interface from the BIRD direct protocol:

https://github.com/projectcalico/calico/blob/master/confd/etc/calico/confd/templates/bird.cfg.template#L116

[2022-11-16 15:43] dilyevsky commented on #95
@caseydavenport v3.19 but it looks to be in the latest too. You're right - it's excluded on the `direct` protocol but `device` still picking up *all* the interfaces and there's no `interface` option there it seems - bird complains of "syntax errror" when you try to add it. My thinking was if interface is in managed DOWN state there's no point in ingesting its addrs in `device` so lmk if that makes